@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate
{
  0%{
    transform: rotate(0deg) translate3d(0,0,0);
  }
  25%{
    transform: rotate(3deg) translate3d(0,0,0);
  }
  50%{
    transform: rotate(-3deg) translate3d(0,0,0);
  }
  75%{
    transform: rotate(1deg) translate3d(0,0,0);
  }
  100%{
    transform: rotate(0deg) translate3d(0,0,0);
  }
}

.shake-image{
  animation: rotate 0.7s ease-in-out both;
}

.div {
  overflow-x: hidden;
  overflow-x: clip !important;
}

/* width */
::-webkit-scrollbar {
  width: px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff83;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}